{% extends "app/layout.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Управление заказами</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Номер заказа</th>
                <th>Дата заказа</th>
                <th>Статус</th>
                <th>Общая стоимость</th>
                <th>Клиент</th> 
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.order_date }}</td>
                <td>{{ order.status.name }}</td>
                <td>{{ order.total_price }} руб.</td>
                <td>{{ order.user.username }}
                <td>
                    <a href="{% url 'manage_order_detail' order.id %}" class="btn btn-sm btn-primary">Подробнее</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}